<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <form action="/add" method="post">
        <input type="text" name="username" id="username" placeholder="Enter the username">
        <input type="password" name="password" id="password" placeholder="Enter the password">
        <button type="submit">Add Data</button>
    </form> 
</body>
</html>