<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>
    <header>
        <h1>Books</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add Book</a></li>
                <li><a href="/delete">Delete Book</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <tr>
                <th>Book Id</th>
                <th>Book Title</th>
                <th>Book Author</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>